:root {
  --Color60: white;
  --Color30: #f0eeee;
  --Color10: orange;
  --ColorFont: black;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
a {
  cursor: pointer;
  text-decoration: none;
}

section {
  padding: 5rem;
  /* margin-left: 5rem; */
  /* margin-right: 5rem; */
}

/* Pages start */

/* Page PostTL start */
.PostTL {
  width: 60em;
  margin: auto;
}
/* Page PostTL End */

/* Pages End */

/* Users Start */
.Users {
  width: 60em;
  margin: auto;
}
